.project-card {
    height: auto;
    overflow: hidden;
    margin: 2em 2rem;
    text-decoration: none;
    color: black;
  }

  .card-header { 
    background-color: var(--secondary-primary);
    font-weight: bold;
  }

  #card-container {
    margin-bottom: 10rem;
  
}

#card-description { 
    border: 1px solid var(--secondary-color);
    border-radius: 5%;
  }

  .project-card:hover {
    transform: scale(101%);
    z-index: 1;
    transition-property: inherit;
}

@media (max-width: 768px) {
    #card-description {
      display: none;
    }
    #card-container { 
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
    }
}