#portfolio-intro-container{
    background:var(--secondary-color);
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color:aliceblue;
    font-weight: bold;
}
@media (max-width: 768px) {
    #portfolio-intro-container{
        height: 25rem;
        display: flex;
        align-items: center;
    }
}