@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Gravitas+One&family=Josefin+Slab:wght@600&display=swap');

#portfolio-intro-container{
    background: linear-gradient(50deg, var(--primary-color), var(--secondary-color));
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color:aliceblue;
    font-size: 1.5rem;
    border-radius: 1rem;
    font-family: 'Josefin Slab', serif;
}
@media (max-width: 768px) {
    #portfolio-intro-container{
        height: 25rem;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        width: 100%;
        padding: 0 1rem;
    }
}