@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Gravitas+One&family=Josefin+Slab:wght@600&display=swap');

#about-container {
  overflow-y: visible;
  background-color: rgba(240, 248, 255, 0.788);
  margin: 5% 10% 10% 10%;
}

#about-me {
  margin: 2rem;
  font-family: 'Josefin Slab', serif;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 2rem;
} 
.about {
  overflow: hidden;  
}

/* .me {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: relative;
} */

@media (max-width: 768px) {
  #about-container {
    margin-top: 10rem;
    display: inline;
  }
  #about-me {
    font-size: large;
  }
} 

@media (max-width: 400px){
  #about-container {
    margin: 1rem 2rem 4rem 2rem;
    height: 10rem;
  }
  #about-me { 
    padding: 2rem;
    margin-bottom: 5rem;
  }
}
