#about-container {
    overflow-y: visible;
    margin-top: 20rem;
  
}
  
.about {
overflow: hidden;  
}


.me {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
}







@media (max-width: 768px) {
    #about-container {
      margin-top: 10rem;
    }
} 

@media (max-width: 400px){
    #about-container {
      margin: 4rem 2rem 4rem 2rem;
    }
}
