:root {
    --primary-color: #08151a;
    --seconday-color: #9ccadf;
    --tertiary-color: #c5dbff5e;
    --primary-font: sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Begin header style */
header {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: var(--primary-font);
}
header h1 {
    color: var(--primary-color);
    background-color: var(--seconday-color);
    width: 250px;
    padding: 3px 3px 3px 55px;
    margin-top: 3px;
    margin-bottom: 15px;
}
header nav {
    padding: 0px 40px;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 500px;
}
header ul li {
    list-style: none;

}
header nav ul li a {
    padding: 0 8px;
    font-weight: lighter;
    font-size: 20px;
    color: var(--seconday-color);
    text-decoration: none;
    border-bottom: solid 3px var(--seconday-color);
}
/* End header style */

/* Begin hero style */
.hero {
    background-image: url("../images/abstract-1641538827376-555.jpg");
    background-size: cover;
    background-position: 65%;
    font-family: var(--primary-font);
    font-size: 20px;
    padding: 100px 60px 15px 100px;
    display: flex;
    flex-wrap: wrap;
}
section.hero {
    justify-content: right;
    
}
.hero h1 {
    color: var(--primary-color);
    background-color: var(--seconday-color);
    padding: 5px 5px;
}
/* End hero style */


/* begin about me style */
.about-myself {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: var(--primary-font);
    color: var(--primary-color);
    padding: 20px 50px 10px 10%;
}
.about-myself h2 {
    text-align: right;
    font-size: 2.5em;
    font-weight: bold;
    align-items: center;
    border-right: 3px solid var(--primary-color);
    padding: 0 10px 5% 35px;
}
.about-myself div {
    padding-left: 2%;
    font-weight: lighter;
    font-size: 1.3em; 
    line-height: 1.2vw;
}
/* End about me style */


/* Begin footer style */
footer {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: var(--primary-font);
    color: var(--primary-color);
    padding: 25px 15px 10px 10%;
    margin-top: 80px;
}
footer h2{
    text-align: right;
    font-size: 2.5em;
    font-weight: bold;
    border-right: 3px solid var(--primary-color);
    padding: 0 10px 0 10px;
}
footer div {
    padding-left: 60px;
}
footer ul {
    margin: 20px 0 25px 0;
    display: flex;
}
footer ul li {
    line-height: 1.3vw;
    list-style: none;
    padding: 0 10px;
    margin: 0 50px 0 50px;
    font-weight: bolder;
    font-size: 1.3em; 
    border-bottom: 3px solid var(--primary-color);
}
/* End footer style */
