:root {
    --primary-color: #08151a;
    --seconday-color: #9ccadf;
    --tertiary-color: #c5dbff48;
    --no-hover-color: rgba(75, 105, 133, .8);
    --hover-color: rgba(75, 105, 133, .5);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Begin header style */
body {
    background-color: var(--tertiary-color);
    font-family: sans-serif;
}
header {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    color: var(--primary-color);
    background-color: var(--seconday-color);
    width: 250px;
    padding: 3px 3px 3px 55px;
    margin-top: 3px;
    margin-bottom: 15px;
}
header nav {
    padding: 0px 40px;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 500px;
}
header ul li {
    list-style: none;

}
header nav ul li a {
    padding: 0 8px;
    font-weight: lighter;
    font-size: 20px;
    color: var(--seconday-color);
    text-decoration: none;
    border-bottom: solid 3px var(--seconday-color);
}
/* End header style */
/* Begin hero style */
.hero {
    background-image: url("../images/abstract-1641538827376-555.jpg");
    background-size: cover;
    background-position: 65%;
    font-size: 20px;
    padding: 100px 60px 15px 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
section.hero {
    justify-content: right;
}
.hero h1 {
    color: var(--primary-color);
    background-color: var(--seconday-color);
    padding: 5px 5px;
}
/* End hero style */
/* Begine section styles */
.border-text {
    text-align: right;
    font-size: 2.5em;
    font-weight: bold;
    border-right: 3px solid var(--primary-color);
    padding-right: 10px;
}
/* begin about me style */
.about-me {
    width: 100%;
    color: var(--primary-color);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 50px 40px 200px;
}
.me {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    top: 258px;
    left: 50px;

}
.about-me h2 {
    align-items: center;
    padding-bottom: 80px;
}
.about-me div {
    padding-left: 2%;
    font-weight: lighter;
    font-size: 20px; 
    line-height: 23px;
}
/* End about me style */

/* Begin projects style */
.container {
    padding-right: 80px;
    padding-left: 35px;
    width: 2120px;
    height: 1070px;
}
.container a {
    text-decoration: none;
}
.projects {
    color: var(--primary-color);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 158px;
}
.projects h2 {
    padding-bottom: 1030px;
    position: relative;
    bottom: 17px;
    margin-top: 25px;
}
.project-card {
    margin:0 0 15px 2%;
    flex-wrap: wrap;    
}

.project-title {
    color: var(--primary-color);
    background-color: var(--seconday-color);
    padding: 5px 5px;
    width: 150px;
    height: 60px;
}
.project-card img {
    max-width: 100%;
}
.overlay::after {
    content:'';
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background: var(--no-hover-color);
}
.overlay:hover::after{
    transition: 250ms;
    background: var(--hover-color);
}
/* begin project 1 card style */
.project-1 {
    position:relative; 
    text-align:center; 
    overflow:hidden; 
    height:500px; 
    width:1437px;
    border: 3px solid var(--seconday-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 3px;
    margin-bottom: 20px;
}
.project-1 img {
    position:absolute; 
    top: -200px;
    left:50%; 
    margin-left:-726px;
}
.title1 {
    text-align: left;
    position: relative;
    bottom: -82%;
    z-index: 9999;
    color: var(--primary-color);
    background-color: var(--seconday-color);
    padding: 5px 5px;
    width: 150px;
    height: 60px;
}
.title1 h3 {
    padding: 5px 0;
}
.halfcards {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.project-2 {
    position:relative; 
    text-align:center; 
    overflow:hidden; 
    height: 250px;
    width: 708.5px;
    margin-right: 20px;
    border: 3px solid var(--seconday-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 3px;
    margin-bottom: 20px;
}
.project-2 img {
    position:absolute; 
    top: -200px;
    left:50%; 
    margin-left:-726px;
}
.title2-5 {
    text-align: left;
    position: relative;
    bottom: -63%;
    z-index: 9999;
    color: var(--primary-color);
    background-color: var(--seconday-color);
    padding: 5px 5px;
    width: 150px;
    height: 60px;
}
.title2-5 h3 {
    padding: 5px 0
}
.project-3 {
    position:relative; 
    text-align:center; 
    overflow:hidden; 
    height: 250px;
    width: 708.5px;
    border: 3px solid var(--seconday-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 3px;
    margin-bottom: 20px;
}
.project-3 img {
    position:absolute; 
    top: -200px;
    left:50%; 
    margin-left:-726px;
}
.project-4 {
    position:relative; 
    text-align:center; 
    overflow:hidden; 
    height: 250px;
    width: 708.5px;
    margin-right: 20px;
    border: 3px solid var(--seconday-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 3px;
    margin-bottom: 20px;
}
.project-4 img {
    position:absolute; 
    top: -150px;
    margin-left:-300px;
    zoom: 125%;
}
.project-5 {
    position:relative; 
    text-align:center; 
    overflow:hidden; 
    height: 250px;
    width: 708.5px;
    border: 3px solid var(--seconday-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 3px;
    margin-bottom: 20px;
}
.project-5 img {
    position:absolute; 
    top: -200px;
    left:50%; 
    margin-left:-500px;
}
/* Begin footer style */
footer {
    color: var(--primary-color);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 380px 20px 167px;
}
footer div {
    padding-left: 180px;
}
footer ul {
    margin: 20px 0 25px 0;
    display: flex;
}
footer ul li {
    line-height: 1.3vw;
    list-style: none;
    padding: 0 10px;
    margin: 0 50px 0 50px;
    font-weight: bolder;
    font-size: 1.3em; 
    border-bottom: 3px solid var(--primary-color);
}
/* End footer style */
/* begin media queries */
@media screen and (max-width: 980px) {
    header {
        align-items: stretch;
        flex-wrap: wrap;
        flex-direction: column;
        width: 192%;
    }
      header h1 {
        font-size: 60px;
        width: 100%;
        text-align: center;
    }
      header nav ul {
        margin-top: 20px;
        width: 100%;
        
    }
      header nav ul li a {
        position: relative;
        bottom: 20px;
        font-size: 45px;
        margin-bottom: 10px;
        justify-content: space-between;
        width: 100%;
    }
    .hero {
        width: 192%;
    }
    section.hero {
        justify-content: center;
        padding-bottom: 100px;
    }
    section.hero h1 {
        font-size: 60px;

    }
    .about-me {
        width: 192%;
    }
    .me {
        position: absolute;
        top: 477px;
        width: 140px;
        height: 140px;
    }
    footer ul li {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}