:root {
    --primary-color: #08151a;
    --seconday-color: #9ccadf;
    --tertiary-color: #c5dbff5e;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Begin header style */
body {
    background-color: var(--tertiary-color);
    font-family: sans-serif;
}
header {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    color: var(--primary-color);
    background-color: var(--seconday-color);
    width: 250px;
    padding: 3px 3px 3px 55px;
    margin-top: 3px;
    margin-bottom: 15px;
}
header nav {
    padding: 0px 40px;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 500px;
}
header ul li {
    list-style: none;

}
header nav ul li a {
    padding: 0 8px;
    font-weight: lighter;
    font-size: 20px;
    color: var(--seconday-color);
    text-decoration: none;
    border-bottom: solid 3px var(--seconday-color);
}
/* End header style */
/* Begin hero style */
.hero {
    background-image: url("../images/abstract-1641538827376-555.jpg");
    background-size: cover;
    background-position: 65%;
    font-size: 20px;
    padding: 100px 60px 15px 100px;
    display: flex;
    flex-wrap: wrap;
}
section.hero {
    justify-content: right;
    
}
.hero h1 {
    color: var(--primary-color);
    background-color: var(--seconday-color);
    padding: 5px 5px;
}
/* End hero style */
/* Begine section styles */
.border-text {
    text-align: right;
    font-size: 2.5em;
    font-weight: bold;
    border-right: 3px solid var(--primary-color);
    padding-right: 10px;
}
/* begin about me style */
.about-me {
    color: var(--primary-color);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 50px 40px 200px;
}
.about-me h2 {
    align-items: center;
    padding-bottom: 80px;
}
.about-me div {
    padding-left: 2%;
    font-weight: lighter;
    font-size: 1.3em; 
    line-height: 1.2vw;
}
/* End about me style */

/* Begin projects style */
.projects {
    color: var(--primary-color);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 158px;
}
.projects h2 {
    padding-bottom: 90%;
}
.project-card {
    margin:0 0 15px 2%;
    flex-wrap: wrap;    

}
.container {
    padding-right: 80px;
    
}
.project-title {
    color: var(--primary-color);
    background-color: var(--seconday-color);
    padding: 5px 5px;
    width: 150px;
    height: 60px;
}
.project-card img {
    max-width: 100%;
    max-height: 80%;
    border: 3px solid var(--seconday-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#project-1 .project-title{
    position: relative;
    bottom: 150px;
}

/* Begin footer style */
footer {
    color: var(--primary-color);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 40px 380px 20px 167px;
}
footer div {
    padding-left: 70px;
}
footer ul {
    margin: 20px 0 25px 0;
    display: flex;
}
footer ul li {
    line-height: 1.3vw;
    list-style: none;
    padding: 0 10px;
    margin: 0 50px 0 50px;
    font-weight: bolder;
    font-size: 1.3em; 
    border-bottom: 3px solid var(--primary-color);
}
/* End footer style */
