footer {
    margin-top: 1rem;
    background-color: var(--secondary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

#stackIcon {
    overflow: visible;
}

#link-btn {
    margin-top: 11px;
    margin-bottom: 11px;
    height: 28px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.54);
}
  