:root {
  --primary-color: #8AC6D0;;
  --secondary-color: #2787d6;
  --tertiary-color: #F4E04D;
  --no-hover-color: rgba(255, 255, 255, 0.8);
  --hover-color: rgba(75, 105, 133, .5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary-color);
  font-family: sans-serif;
  background-image: url(./assets/images/abstract.jpg);
  background-attachment: fixed;
  background-position: bottom;
}

#main {
  /* this is the main div that holds everything, including header and footer */
  display: flex;
  flex-direction: column;
}

a {
  color: black;
}


@media (max-width: 14440px) {
  body {
    background-size: cover;
  }
}