nav ul {
    list-style: none;

}

nav {
    background-color: var(--primary-color);
    padding: auto;
    text-decoration: none;
    color: #020202
}

#menu {
    display: none
}

#my-name {
    color: var(--primary-color);
    font-weight: bold;
}

.nav-a {
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
}

.nav-item {
    text-decoration: none;
    display: inline-block;
    color: black;
}

@media (max-width: 768px) {
    #menu {
        display: inline
      }
      nav {
        background-color: var(--primary-color);
        display: flex;
        max-width: auto;
        margin-bottom: 0;
      }
      #my-name {
        margin: 0 auto;
        color: var(--primary-color);
        font-weight: bold;
      }
      .navLink {
        text-decoration: none;
      }
      .nav-item {
        display: block;
      }
      #navbar {
        justify-content: center;
      }


}