@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Gravitas+One&display=swap');
nav {
    padding: auto;
    text-decoration: none;
    color:#020202;
    
}
#nav-bar {
    background: linear-gradient( 
        -50deg, 
        var(--secondary-color), 
        var(--primary-color),
        rgba(37, 37, 37)
    );
}
nav ul {
    list-style: none;
}

.nav-i {
    text-decoration: none;
    display: inline-block;
    font-family:'Gravitas One', cursive;
}
.nav-l {
    text-decoration: none;
    color: black
}
.nav-l:hover{
    color: var(--primary-color);
}

.selected {
    color: white;
    font-size: large;
}


#my-name {
    color: white;
    font-weight: bold;
    font-family: 'Aguafina Script', cursive;
    font-size: xx-large;
}

#menu {
    display: none
}

@media (max-width: 768px) {
    nav {
        background-color: var(--primary-color);
        max-width: auto;
        margin-bottom: 0;
    }
    nav ul {
        justify-content: center;
    }
    #menu {
        display: inline;
    }
    #my-name {
        margin: 0 auto;
        font-weight: bold;
        font-size: x-large;
    }
}